parameters:
	ignoreErrors:
		-
			message: "#^Result of && is always false\\.$#"
			count: 1
			path: ../src/Admin/AbstractAdmin.php

		-
			message: "#^Array \\(array\\<string, string\\>\\) does not accept key int\\.$#"
			count: 1
			path: ../src/Admin/AbstractAdmin.php

		-
			message: "#^Method Sonata\\\\AdminBundle\\\\Admin\\\\AbstractAdmin\\:\\:getActiveSubClass\\(\\) should return string but returns null\\.$#"
			count: 1
			path: ../src/Admin/AbstractAdmin.php

		-
			message: "#^Method Sonata\\\\AdminBundle\\\\Admin\\\\AbstractAdmin\\:\\:getActiveSubclassCode\\(\\) should return string but returns null\\.$#"
			count: 2
			path: ../src/Admin/AbstractAdmin.php

		-
			message: "#^Method Sonata\\\\AdminBundle\\\\Admin\\\\AbstractAdmin\\:\\:getParentFieldDescription\\(\\) should return Sonata\\\\AdminBundle\\\\Admin\\\\FieldDescriptionInterface but returns null\\.$#"
			count: 1
			path: ../src/Admin/AbstractAdmin.php

		-
			message: "#^Method Sonata\\\\AdminBundle\\\\Admin\\\\AbstractAdmin\\:\\:getShowFieldDescription\\(\\) should return Sonata\\\\AdminBundle\\\\Admin\\\\FieldDescriptionInterface but returns null\\.$#"
			count: 1
			path: ../src/Admin/AbstractAdmin.php

		-
			message: "#^Class Doctrine\\\\ODM\\\\MongoDB\\\\PersistentCollection not found\\.$#"
			count: 1
			path: ../src/Admin/AdminHelper.php

		-
			message: "#^Class Doctrine\\\\ORM\\\\PersistentCollection not found\\.$#"
			count: 1
			path: ../src/Admin/AdminHelper.php

		-
			message: "#^Call to method getTypeClass\\(\\) on an unknown class Doctrine\\\\ODM\\\\MongoDB\\\\PersistentCollection\\.$#"
			count: 1
			path: ../src/Admin/AdminHelper.php

		-
			message: "#^Call to method getTypeClass\\(\\) on an unknown class Doctrine\\\\ORM\\\\PersistentCollection\\.$#"
			count: 1
			path: ../src/Admin/AdminHelper.php

		-
			message: "#^Call to method add\\(\\) on an unknown class Doctrine\\\\ODM\\\\MongoDB\\\\PersistentCollection\\.$#"
			count: 1
			path: ../src/Admin/AdminHelper.php

		-
			message: "#^Call to method add\\(\\) on an unknown class Doctrine\\\\ORM\\\\PersistentCollection\\.$#"
			count: 1
			path: ../src/Admin/AdminHelper.php

		-
			message: "#^Strict comparison using \\!\\=\\= between 'Sonata\\\\\\\\AdminBundle\\\\\\\\Admin\\\\\\\\AdminHelper' and 'Sonata\\\\\\\\AdminBundle\\\\\\\\Admin\\\\\\\\AdminHelper' will always evaluate to false\\.$#"
			count: 1
			path: ../src/Admin/AdminHelper.php

		-
			message: "#^Result of && is always false\\.$#"
			count: 2
			path: ../src/Admin/BaseFieldDescription.php

		-
			message: "#^Call to function is_object\\(\\) with string will always evaluate to false\\.$#"
			count: 1
			path: ../src/Block/AdminListBlockService.php

		-
			message: "#^Else branch is unreachable because ternary operator condition is always true\\.$#"
			count: 1
			path: ../src/Block/AdminListBlockService.php

		-
			message: "#^Result of \\|\\| is always true\\.$#"
			count: 1
			path: ../src/Block/AdminListBlockService.php

		-
			message: "#^Call to function is_object\\(\\) with string will always evaluate to false\\.$#"
			count: 1
			path: ../src/Block/AdminSearchBlockService.php

		-
			message: "#^Result of \\|\\| is always true\\.$#"
			count: 1
			path: ../src/Block/AdminSearchBlockService.php

		-
			message: "#^Call to function is_object\\(\\) with string will always evaluate to false\\.$#"
			count: 1
			path: ../src/Block/AdminStatsBlockService.php

		-
			message: "#^Result of \\|\\| is always true\\.$#"
			count: 1
			path: ../src/Block/AdminStatsBlockService.php

		-
			message: "#^Call to static method load\\(\\) on an unknown class Symfony\\\\Component\\\\ClassLoader\\\\ClassCollectionLoader\\.$#"
			count: 1
			path: ../src/Command/CreateClassCacheCommand.php

		-
			message: "#^Result of && is always false\\.$#"
			count: 2
			path: ../src/Command/GenerateObjectAclCommand.php

		-
			message: "#^Instanceof between \\*NEVER\\* and Doctrine\\\\Persistence\\\\ManagerRegistry will always evaluate to false\\.$#"
			count: 1
			path: ../src/Command/GenerateObjectAclCommand.php

		-
			message: "#^Else branch is unreachable because ternary operator condition is always true\\.$#"
			count: 1
			path: ../src/Command/GenerateObjectAclCommand.php

		-
			message: "#^Strict comparison using \\!\\=\\= between 'Sonata\\\\\\\\AdminBundle\\\\\\\\Command\\\\\\\\GenerateObjectAclCommand' and 'Sonata\\\\\\\\AdminBundle\\\\\\\\Command\\\\\\\\GenerateObjectAclCommand' will always evaluate to false\\.$#"
			count: 1
			path: ../src/Command/GenerateObjectAclCommand.php

		-
			message: "#^Method Sonata\\\\AdminBundle\\\\Datagrid\\\\Datagrid\\:\\:getFilter\\(\\) should return Sonata\\\\AdminBundle\\\\Filter\\\\FilterInterface but returns null\\.$#"
			count: 1
			path: ../src/Datagrid/Datagrid.php

		-
			message: "#^Method Sonata\\\\AdminBundle\\\\Admin\\\\FieldDescriptionInterface\\:\\:getLabel\\(\\) invoked with 1 parameter, 0 required\\.$#"
			count: 1
			path: ../src/Datagrid/ListMapper.php

		-
			message: "#^Call to an undefined method Symfony\\\\Component\\\\Config\\\\Definition\\\\Builder\\\\NodeParentInterface\\:\\:arrayNode\\(\\)\\.$#"
			count: 1
			path: ../src/DependencyInjection/Configuration.php

		-
			message: "#^Constructor of class Sonata\\\\AdminBundle\\\\Form\\\\DataTransformer\\\\ModelsToArrayTransformer has an unused parameter \\$choiceList\\.$#"
			count: 1
			path: ../src/Form/DataTransformer/ModelsToArrayTransformer.php

		-
			message: "#^Constructor of class Sonata\\\\AdminBundle\\\\Form\\\\DataTransformer\\\\ModelsToArrayTransformer has an unused parameter \\$class\\.$#"
			count: 1
			path: ../src/Form/DataTransformer/ModelsToArrayTransformer.php

		-
			message: "#^Constructor of class Sonata\\\\AdminBundle\\\\Form\\\\DataTransformer\\\\ModelsToArrayTransformer has an unused parameter \\$modelManager\\.$#"
			count: 1
			path: ../src/Form/DataTransformer/ModelsToArrayTransformer.php

		-
			message: "#^Call to an undefined method Sonata\\\\AdminBundle\\\\Admin\\\\FieldDescriptionInterface\\:\\:setHelp\\(\\)\\.$#"
			count: 1
			path: ../src/Form/FormMapper.php

		-
			message: "#^Method Sonata\\\\AdminBundle\\\\Admin\\\\AdminInterface\\:\\:getFormGroups\\(\\) invoked with 1 parameter, 0 required\\.$#"
			count: 1
			path: ../src/Form/FormMapper.php

		-
			message: "#^Method Sonata\\\\AdminBundle\\\\Admin\\\\AdminInterface\\:\\:getFormTabs\\(\\) invoked with 1 parameter, 0 required\\.$#"
			count: 1
			path: ../src/Form/FormMapper.php

		-
			message: "#^Right side of && is always true\\.$#"
			count: 1
			path: ../src/Mapper/BaseGroupedMapper.php

		-
			message: "#^Method Symfony\\\\Contracts\\\\EventDispatcher\\\\EventDispatcherInterface\\:\\:dispatch\\(\\) invoked with 2 parameters, 1 required\\.$#"
			count: 1
			path: ../src/Menu/MenuBuilder.php

		-
			message: "#^Negated boolean expression is always false\\.$#"
			count: 1
			path: ../src/Route/RoutesCache.php

		-
			message: "#^Method Sonata\\\\AdminBundle\\\\Admin\\\\FieldDescriptionInterface\\:\\:getLabel\\(\\) invoked with 1 parameter, 0 required\\.$#"
			count: 1
			path: ../src/Show/ShowMapper.php

		-
			message: "#^Method Sonata\\\\AdminBundle\\\\Admin\\\\AdminInterface\\:\\:getShowGroups\\(\\) invoked with 1 parameter, 0 required\\.$#"
			count: 1
			path: ../src/Show/ShowMapper.php

		-
			message: "#^Method Sonata\\\\AdminBundle\\\\Admin\\\\AdminInterface\\:\\:getShowTabs\\(\\) invoked with 1 parameter, 0 required\\.$#"
			count: 1
			path: ../src/Show/ShowMapper.php

		-
			message: "#^Method Sonata\\\\AdminBundle\\\\Translator\\\\Extractor\\\\JMSTranslatorBundle\\\\AdminExtractor\\:\\:buildSecurityInformation\\(\\) should return array\\<string, mixed\\> but return statement is missing\\.$#"
			count: 1
			path: ../src/Translator/Extractor/JMSTranslatorBundle/AdminExtractor.php

		-
			message: "#^Method Sonata\\\\AdminBundle\\\\Translator\\\\Extractor\\\\JMSTranslatorBundle\\\\AdminExtractor\\:\\:getBaseRole\\(\\) should return string but return statement is missing\\.$#"
			count: 1
			path: ../src/Translator/Extractor/JMSTranslatorBundle/AdminExtractor.php

